* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

/* when some page is loading */
#page-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
#page-loading p, i{
    font-size: 2rem;
}
#page-loading i {
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* #page-heading */
#page-heading {
    background-color: #151515;
    box-shadow: 1px 4px 5px 2px rgb(0 0 0 / 11%);
}
#page-heading .navbar-brand img {
    margin: 46px 0;
}
/* .input-search {
    background-color: white;
    height: 40px;
    border-radius: 20px;
}
.input-search input {
    border: none;
    caret-color: #444;
    flex: 1 1;
    height: 100%;
    outline: none;
    padding: 0 4px;
    font-size: 1.8rem;
    border-radius: 50%;
}
.IS-icon img {
    margin: 8px;
}
.IS-close{
    font-size: 1.9rem;
    position: relative;
    top: -2px;
    right: 10px;
    display: none;
} */
#page-heading li a{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 10px;
    margin: 0 10px;
}
#page-heading li a:hover, #page-heading li a.active {
    background-color: #d81a24;
}
.slider-containers {
    width: 100%;
    overflow: hidden;
}
/* .slider-container {
    display: flex;
} */
.slider-containers .slider-container{
    display: flex;
    width: 300%;
    gap: 42px;
}
.slider-containers .slider {
    width: 50%;
}
.PH-slider img {
    max-width: 100%;
    height: auto;
    opacity: .6;
    transition: .3s;
}
.PH-slider img:hover {
    opacity: 1;
}
.PH-slider h6 a {
    display: block;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    transition: .4s ease-in-out;
    font-weight: 700;
    margin-top: 25px;
}
.PH-slider h6 a:hover {
    color: #d81a24;
}
.PH-slider p{
    margin: 10px 0 8px 0;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.4);
}
.PH-dot-items {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PH-dot-items span {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
.PH-dot-items span + span {
    margin-left: 20px;
}
.PH-dot-items span.active, .PH-dot-items span:hover { 
    background-color: #fff;
}

/* watch movies */
.watch-movies {
    padding: 50px 0;
}
.watch-movies h1 {
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.18rem;
    color: black;
    text-align: center;
}
.watch-movies hr {
    margin: 30px auto 45px ;
    width: 100px;  
    color: #b7b7b7;
    height: 2px;
}